// @import "/img/tim_dolomites_opt.jpg";
.Frontpage img {
  position: relative;
  // z-index: -1;
  image-orientation: from-image;
  width: 100%;
}
.Frontpage {
  margin: 0;
  background-image: url('~../img/tim_dolomites_opt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  min-width: 500px;
  width: 100%;
  height: auto;
  position: relative;
}
.textBlock {
  font-family: serif;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10vh;
  color: $col-h3;
  // color: white;
  .webDevSpan {
    font-style: italic;
  }
  h2 {
    font-size: 3em;
    font-weight: bolder;
  }
  h3 {
    font-size: 2em;
  }
}
