.OneProject {
  margin: 60px 5px;
  // text-align: center;
  display: flex;
  justify-content: center;
  .leftSide {
    // float: left;
    img {
      position: relative;
      width: 300px;
      // height: 100%;
    }
  }
  .rightSide {
    // float: right;
    text-align: left;
    width: 600px;
    margin-left: 10px;
    margin-right: 20px;
    // border-radius: 5px;
    // background-color: #b1ecfe2e;
    p {
      margin: 20px;
    }
    h4 {
      margin: 5px;
      text-align: center;
    }
  }

}
